.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
    text-align: center;
    justify-content: center;
}

body{
    color:black;
    background-color: #FFE4E1;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }